/*Menu header*/
header {
    @include flexDirection(row, space-between);
    margin: 1rem 2rem;
    a {
        font-style: none;
        i {
            color: $main1;
            &:hover {
                color: $ehSurvalj;
            }
        }
    }
}


.header {
    width: 100%;
    height: 10vh;
    background-color: $main1;
    color: $white;
    @include flexDirection(row, flex-start);
    a {
        font-style: none;
        i {
            margin: 1rem;
            color: $white;
            &:hover {
                color: $ehSurvalj;
            }
        }
    }
    p {
        text-transform: uppercase;
        font-weight: 400;
    }
}
